<div class="fm-customer-bkg img-rounded">
</div>

<form class="form-horizontal" name="customerForm" novalidate>
  <div class="modal">
    <div class="modal-header">
      <h3>Get Started</h3>
    </div>
    <div class="modal-body">

      <div class="control-group">
        <label class="control-label" for="customerName">Your Name</label>
        <div class="controls">
          <input type="text" id="customerName" placeholder="Kelly Ann"
                 class="input-medium"
                 ng-model="customerName" required>
        </div>
      </div>

      <!--Need add add google map api, in order to read user current place-->
      <div class="control-group">
        <label class="control-label" for="address">Your Current Address</label>
        <div class="controls">
          <input type="text" id="address" placeholder="1133 Huff Rd, Atlanta, 30318"
                 class="input-xlarge"
                 ng-model="customerAddress" required>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-primary"
              ng-disabled="customerForm.$invalid"
              ng-click="findRestaurants(customerName, customerAddress)">Find from MenuMe!</button>
    </div>
  </div>
</form>
